<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/9abf605c-4d06-4db7-90d2-4ba0e8e49d3c/resourceGroups/rg-ndc/providers/Microsoft.Web/sites/ndc-demo</ResourceId>
    <ResourceGroup>rg-ndc</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://ndc-demo.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>ef842c49-8489-4201-8cd9-a99b358b0742</ProjectGuid>
    <PublishUrl>https://ndc-demo.scm.azurewebsites.net/</PublishUrl>
    <UserName>$ndc-demo</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>